.slidecontainer {
  width: 100%;
  padding-bottom: 20px; 
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.assessment-category-title {
  padding-left: 10px; 
}

.flex-12 {
  flex: 1 1 12em;
}

legend {
  border-color: orange;
  padding: 3px 6px;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}

html, body{
  width: 100%;
  margin: 0;
  height:100vh;
}

.topBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  padding: 1em 1em;
  background-color: darkgrey;
  z-index: 2147483638;
}

#search{
  position: absolute;
  right: 5em;
}

.contents{
  width: 80%;
  margin: 4em auto;
  padding: 2em 1em;
}

.category{
  font-size: 2em;
  margin: 1em auto;
}

#check{
  width: 30px;
}

.anime{
  display: inline;
}

.anime img{
  width: 20em;
  height: 465px;
  object-fit: cover;
  margin-bottom: 2em;
  margin-right: 2em;
}

.right{
  float: right;
}

.left{
  float: left;
}

.ep{
  text-align: center;
  margin-bottom: 5em;
  color: white;

}

.area{
  width: 20em;
  height: 465px;
  display: table-cell;
  vertical-align: middle;
}

#popup{
  position: fixed;
  top, left: 0;
  width: 1em;
  height: 1em;
  background-color: rgb(253,124,44);
  border-radius: .2em;
  z-index: 2147483638;
  opacity: 0;
  font-size: 2em;
  color: white;
  text-align: center;
  padding: .1em;
}
#vid{
  z-index: 0;
}
#tip{
  position:fixed;
  top, left: 0;
  width:100%;
  height: 2em;
  z-index: 2147483637;
  background-color: black;
  color: white;
  opacity: 0;
  padding-left: 3em;

}
#tip span{
    opacity: 1;
}

/*Episode detail*/

.row1col1, .row1col2 {
  overflow: scroll;
  height: 90vh;
}
.row2col1, .row2col2 {
  height: 10vh;
}

.c1 {
  height: 90%;
}

.c2 {
  height: 10%;
  position: absolute;
  bottom:0;
}

#preview {
  height: 50vh;
  min-width: 30vw;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: grey;
}

.previewImg{
  height: 50vh;
  min-width: 30vw;
}

#pop{
    color: orange;
    background-color: white;
    border-color: orange;
}

/*quiz*/

.btns{
  position: absolute;
  bottom:0;
}

.btn.btn-classic{
    background-color: orange;
    color: white;
}

.quiz{
  overflow-y:scroll;
  overflow-x:hidden;
  margin-top:30px;
  padding: 10px;
}

.question{
  padding: 2vw 5vw;
}

.questionNumber{
  display: flex;
}

.choices{
  margin-top:10px;
  padding: 5vw;
  justify-content: space-between;
}

.xpVal {
  margin-top: 10px;
}

.question-choice{
  padding-bottom: 1vh;
}

#correct{
    color: green;
    font-weight: bold;
}

#incorrect{
    color: red;
    font-weight: bold;
}

/* Series Carousel */
.glyphicon-chevron-left:before{
    content: "\e079";
    color: orange;
}

.glyphicon-chevron-right:before {
    content: "\e080";
    color: orange;
}