{% extends "watchandlearn/base_generic.html" %}

{% block content %}

	{% load static %}

	<script src="{% static '/watchandlearn/javascript/assessment.js' %}"> </script>
	<style>
	</style>

	<h1 class="ml-3"> Self Assessment </h1>

		<form class="choices" action="{% url 'recommended' %}" method="post">
		{% csrf_token %}
		<div class="col">
			<div class="row ml-2 mr-2">
				<div class="slidecontainer">
					<p class="assessment-category-title">Vocabulary: <span id="vocabText"></span></p>
			  		<input type="range" min="1" max="100" value="50" class="slider" name="vocabulary" onchange="updateInput(this.value,'vocabText');">
				</div>
			</div>

			<div class="row ml-2 mr-2">
				<div class="slidecontainer">
					<p class="assessment-category-title">Reading: <span id="readingText"></span></p>
			  		<input type="range" min="1" max="100" value="50" class="slider" name="reading" onchange="updateInput(this.value,'readingText');">
				</div>
			</div>

			<div class="row ml-2 mr-2">
				<div class="slidecontainer">
					<p class="assessment-category-title">Writing: <span id="writingText"></span></p>
			  		<input type="range" min="1" max="100" value="50" class="slider" name="writing" onchange="updateInput(this.value,'writingText');">
				</div>
			</div>

			<div class="row ml-2 mr-2">
				<div class="slidecontainer">
					<p class="assessment-category-title">Grammar: <span id="grammarText"></span></p>
			  		<input type="range" min="1" max="100" value="50" class="slider" name="grammar" onchange="updateInput(this.value,'grammarText');">
				</div>
			</div>


			<fieldset>
			  <legend>Interested Topics</legend>
		  <div class="row ml-3">

		    <div class="col flex-12">

		    	<div class="row ml-3">
			        <input type="checkbox" id="fantasy-checkbox" name="feature" value="fantasy" />
			        <label for="fantasy">Fantasy</label>
			    </div>

			    <div class="row ml-3">
			        <input type="checkbox" id="action-checkbox" name="feature" value="action" checked />
			        <label for="action">Action</label>
			    </div>

			    <div class="row ml-3">
			        <input type="checkbox" id="comedy-checkbox" name="feature" value="comedy" />
			        <label for="comedy">Comedy</label>
			    </div>

			    <div class="row ml-3">
			        <input type="checkbox" id="adventure-checkbox" name="feature" value="adventure" />
			        <label for="adventure">Adventure</label>
			    </div>

			    <div class="row ml-3">
			        <input type="checkbox" id="romance-checkbox" name="feature" value="romance" />
			        <label for="romance">Romance</label>
			    </div>
			  </div>

			  <div class="col flex-12">

		    	<div class="row ml-3">
			        <input type="checkbox" id="sliceoflife-checkbox" name="feature" value="sliceoflife" />
			        <label for="sliceoflife">Slice of Life</label>
			    </div>

			    <div class="row ml-3">
			        <input type="checkbox" id="sports-checkbox" name="feature" value="sports" checked />
			        <label for="sports">Sports</label>
			    </div>

			    <div class="row ml-3">
			        <input type="checkbox" id="historical-checkbox" name="feature" value="historical" />
			        <label for="historical">Historical</label>
			    </div>

			    <div class="row ml-3">
			        <input type="checkbox" id="sciencefiction-checkbox" name="feature" value="sciencefiction" />
			        <label for="sciencefiction">Science Fiction</label>
			    </div>

			    <div class="row ml-3">
			        <input type="checkbox" id="drama-checkbox" name="feature" value="drama" />
			        <label for="drama">Drama</label>
			    </div>
			  </div>
			</div>
		</fieldset>
	</div>


			    <div class="row ml-5 mt-3">
			    	<center>
							 <input class="btn btn-classic" type="submit" value='Submit'>
			    	</center>
			    </div>
			</form>

	</div>
	<script>
	/*document.getElementById("submit").onclick = function() {
		var vocab = parseInt(document.getElementById('vocabulary').value);
		var read = parseInt(document.getElementById('reading').value);
		var writ = parseInt(document.getElementById('writing').value);
		var gram = parseInt(document.getElementById('grammar').value);
		var composite = vocab + read + writ + gram;
		console.log("vocab " + vocab);
		console.log("read " + read);
		console.log("writ " + writ);
		console.log("gram " + gram);

	}*/

	function updateInput(val,text) {
		   document.getElementById(text).innerHTML =val; 
		}

	var sliders = document.getElementsByClassName("slider");
	console.log(sliders);
	sliders[0].onclick = function() {
		console.log(sliders[0].value);
	}
	</script>

{% endblock %}
