{% extends "watchandlearn/base_generic.html" %}

{% block content %}

  {% load static %}
  <script src="{% static '/watchandlearn/javascript/episode_detail.js' %}"></script>

  <div class="container-fluid c1">
      <div class="row">
        <div class="col-sm-6 row1col1">
          <!-- django -->
          <h1 id="animeTitle"> {{ episode.title }} </h1>
          <h3 id="animeEpisode"> Episode {{ episode.number }}</h3>
          <div id="preview">
            <img class="previewImg" src= "{{ episode.image }}">
          </div>
        </div>
        <div class="col-sm-6 row1col2">
          <h2 id="KeyTerms">Key Terms</h2>

          <!-- django -->
        <ul id="termList">
          {% for term in terms %}
            <li><h2>{{ term.timestamp }} {{ term.word }}: {{ term.definition }}</h2></li>
          {% endfor %}
        </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid c2">
      <div class="row">
        <div class="col-sm-6 row2col1">
          <div id="popUpBtn">
            <button id="pop" class="btn" type="button" onclick="popUpToggle()">Popup On</button>
          </div>
        </div>
        <div class="col-sm-6 row2col2">
          <button type="button" class="btn btn-classic">
              <a href="{% url 'episode-watch' episode.id %}"> Go! </a>
            </button>
        </div>
      </div>
    </div>

{% endblock %}
