{% extends "watchandlearn/base_generic.html" %}

{% block content %}
    {% load static %}

    <script src="{% static '/watchandlearn/javascript/episodes.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/watchandlearn/css/episodes.css' %}" />

    <div>
        <div class = "topBar">
           <h1 class="text-light mb-5">{{ series.title }}</h1>
        </div>  
        <div class="contents">
            <div class = "container">
                <div class="row">
                    {% for episode in episodes %}
                        <div class = "column">
                            <a href="{% url 'episode-detail' episode.id %}">
                                <div class="row">
                                    <img src="{{ episode.image }}" style="width: 200px; height: auto;">
                                    </img>
                                </div>
                                <div class="row text-center">
                                    <span style="padding-left: 80px"><h3>EP {{ forloop.counter }}</h3></span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}