{% extends "watchandlearn/base_generic.html" %}

{% block content %}

  <div class="container-fluid completionMessage">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1> You're done! Let's see how much you've learned: </h1>
      </div>
    </div>
  </div>

  <div class="quiz">
    <form class="choices" action="{% url 'quiz-feedback' quiz.id %}" method="post">
      {% csrf_token %}
      <div class = "row">
        <div class="col">
          {% for question in questions %}
            <fieldset class="question">
              <legend>
                {{ forloop.counter }}. {{ question.question_text }}
              </legend>
              <div class="row">
                <div class="col-sm-10">
                  <div class="question-choice">
                    <input type="radio" name="question{{ forloop.counter }}" value="0"> {{ question.option1 }} </input>
                  </div>

                  <div class="question-choice">
                    <input type="radio" name="question{{ forloop.counter }}" value="1"> {{ question.option2 }} </input>
                  </div>

                  <div class="question-choice">
                    <input type="radio" name="question{{ forloop.counter }}" value="2"> {{ question.option3 }} </input>
                  </div>

                </div>
              </div>
            </fieldset>
           
          {% endfor %}
        </div>
      </div>

        <div class="row">
          <div class="col-6">
            <button type="button" class="btn btn-classic" value='skip' onclick="window.location.href='{% url 'recommended' %}'">Skip</button>
          </div>
          
          <div class="col-6">
            <input class="btn btn-classic" type="submit" value='Submit'>
          </div>
        </div>
    </form>       
  </div>

{% endblock %}